body{
    background-color: #0099cc;
}

#cybersecurity {
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    fill: #004466;
}

#loading {
    font-size: 2em;
    font-family: sans-serif;
    font-weight: lighter;
    fill: #fff;
}

#line1{
    fill: none;
    stroke: #004466;
    stroke-width: 10px;
}

#line2{
    fill: none;
    stroke: #fff;
    stroke-width: 10px;
}

#icon{

    animation-name: diamondOpacity;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes diamondOpacity {
    0%   { opacity: 1; }
    50%  { opacity: 0.1; }
    100% { opacity: 1; }
}
