<div class="table-wrap">
  <table class="rubric">
    <thead>
      <tr>
        <th scope="col">Criteria</th>
        <th scope="col">0 points</th>
        <th scope="col">1 point</th>
        <th scope="col">2 Points</th>
        <th scope="col">3 Points</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Use of Shapes</th>
        <td>Did not demonstrate use of shapes and/or pen tool to create icon designs.</td>
        <td>Demonstrated minimal use of shapes and/or pen tool to create icon designs.</td>
        <td>Demonstrated basic use of shapes and/or pen tool to create icon designs.</td>
        <td>Demonstrated effective use of shapes and/or pen tool to create icon designs.</td>
        <td>/ 3</td>
      </tr>
      <tr>
        <th scope="row">Use of Colour</th>
        <td>Colour requirements were not followed.</td>
        <td>Colours and/or gradients were used minimally without following an effective colour pallet.</td>
        <td>Demonstrated basic use of colours and/or gradients fitting within an effective colour pallet and followed colour requirements.</td>
        <td>Demonstrated an effective use of colours and/or gradients fitting within an effective colour pallet and followed colour requirements.</td>
        <td>/ 3</td>
      </tr>
      <tr>
        <th scope="row">Visual Design</th>
        <td>Design does not reflect application theme and/or is unprofessional.</td>
        <td>Icon features a design that minimally reflects the application theme to a low professional standard.</td>
        <td>Icon features a design that appropriately reflects the application theme to an acceptable professional standard.</td>
        <td>Icon features a strong design that reflects the application theme to a high professional standard.</td>
        <td>/ 3</td>
      </tr>
      <tr>
        <th scope="row">Work revisions based on peer feedback</th>
        <td>Did not make updates based on peer reviews</td>
        <td>Reviewed peer feedback and made few updates</td>
        <td>Reviewed peer feedback and made some updates based on feedback</td>
        <td>Reviewed peer feedback and made clear improvements based on feedback</td>
        <td>/ 3</td>
      </tr>
      <tr>
        <th scope="row">Fill organization, naming, and submission.</th>
        <td>No layers, artboards, or files are properly labeled and was submitted incorrectly with many errors.</td>
        <td>Some layers, artboards, and files are properly labeled and submitted properly with many errors.</td>
        <td>Most layers, artboards, and files are properly labeled and submitted properly with few errors.</td>
        <td>All layers, artboards, and files are properly labeled and submitted properly with no errors.</td>
        <td>/ 3</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="row" colspan="5"><strong>Total</strong></th>
        <td><strong>/ 15</strong></td>
      </tr>
    </tfoot>
  </table>
</div>