<div class="table-wrap">
  <table class="rubric">
    <thead>
      <tr>
        <th scope="col">Criteria</th>
        <th scope="col">0 points</th>
        <th scope="col">1 point</th>
        <th scope="col">2 Points</th>
        <th scope="col">3 Points</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Use of Masking, Adjustment Layers, and Layer Effects</th>
        <td>Did not demonstrate use of Masking, Adjustment Layers, and Layer Effects.</td>
        <td>Demonstrated minimal use of Masking, Adjustment Layers, and Layer Effects or used in a way that distracted or took away from the design.</td>
        <td>Demonstrated basic use of Masking, Adjustment Layers, and Layer Effects.</td>
        <td>Demonstrated effective use of Masking, Adjustment Layers, and Layer Effects</td>
        <td>/ 3</td>
      </tr>
      <tr>
        <th scope="row">Use of Placed Raster Images, Placed Vector Graphic, Photoshop Vector Graphics, and Type</th>
        <td>Placed Raster Images, Placed Vector Graphic, Photoshop Vector Graphics, and Type were not used as instructed in the assignment instructions.</td>
        <td>Placed Raster Images, Placed Vector Graphic, Photoshop Vector Graphics, and Type were used minimally without following the assignment instructions.</td>
        <td>Demonstrated basic use of Placed Raster Images, Placed Vector Graphic, Photoshop Vector Graphics, and Type.</td>
        <td>Demonstrated an effective use of Placed Raster Images, Placed Vector Graphic, Photoshop Vector Graphics, and Type</td>
        <td>/ 3</td>
      </tr>
      <tr>
        <th scope="row">Visual Design</th>
        <td><p>Design does not reflect card theme and/or presents the card information in unprofessional manner.</p>
        <p>Card design fulfills few required elements outlined in assignment instructions.</p></td>
        <td><p>Card features a design that minimally reflects the card theme and presents the card information to a low professional standard.</p>
        <p>Card design fulfills some required elements outlined in assignment instructions.</p></td>
        <td><p>Card features a design that appropriately reflects the card theme and presents the card information to an acceptable professional standard.</p>
        <p>Card design fulfills most required elements outlined in assignment instructions.</p></td>
        <td><p>Card features a strong design that reflects the card theme and effectively presents the card information to a high professional standard.</p>
        <p>Card design fulfills all required elements outlined in assignment instructions.</p></td>
        <td>/ 3</td>
      </tr>
      <tr>
        <th scope="row">Work revisions based on peer feedback</th>
        <td>Did not make updates based on peer reviews</td>
        <td>Reviewed peer feedback and made few updates</td>
        <td>Reviewed peer feedback and made some updates based on feedback</td>
        <td>Reviewed peer feedback and made clear improvements based on feedback</td>
        <td>/ 3</td>
      </tr>
      <tr>
        <th scope="row">Fill organization, naming, and submission.</th>
        <td>No layers, artboards, or files are properly labeled and was submitted incorrectly with many errors.</td>
        <td>Some layers, artboards, and files are properly labeled and submitted properly with many errors.</td>
        <td>Most layers, artboards, and files are properly labeled and submitted properly with few errors.</td>
        <td>All layers, artboards, and files are properly labeled and submitted properly with no errors.</td>
        <td>/ 3</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="row" colspan="5"><strong>Total</strong></th>
        <td><strong>/ 15</strong></td>
      </tr>
    </tfoot>
  </table>
</div>