<div class="table-wrap">
  <table class="rubric">
    <thead>
      <tr>
        <th scope="col">Criteria</th>
        <th scope="col">0 points</th>
        <th scope="col">1 point</th>
        <th scope="col">2 Points</th>
        <th scope="col">3 Points</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Part 1: App Icon</th>
        <td>
          <p>App Icon is designed to an unacceptable standard and/or meets little to none of the design specs.</p>
          <p>Student demonstrates minimal knowledge of Adobe Illustrator.</p>
        </td>
        <td>
          <p>App Icon is designed to a low standard and meets few of the design specs.</p>
          <p>Student demonstrates basic knowledge of Adobe Illustrator.</p>
        </td>
        <td>
          <p>App Icon is designed to an acceptable standard and meets most of the design specs.</p>
          <p>Student demonstrates acceptable knowledge of Adobe Illustrator.</p>
        </td>
        <td>
          <p>App Icon is designed to a high professional standard and meets all of the design specs.</p>
          <p>Student demonstrates skilled knowledge of Adobe Illustrator.</p>
        </td>
        <td>/ 3</td>
      </tr>
      <tr>
        <th scope="row">Part 2: Splash Screens</th>
        <td>
          <p>Splash Screens are designed to an unacceptable professional standard and/or meets little to none of the design specs.</p>
          <p>Student demonstrates minimal knowledge of Adobe Photoshop.</p>
        </td>
        <td>
          <p>Splash Screens are designed to a low professional standard and meets few of the design specs.</p>
          <p>Student demonstrates basic knowledge of Adobe Photoshop.</p>
        </td>
        <td>
          <p>Splash Screens are designed to an acceptable professional standard and meets most of the design specs.</p>
          <p>Student demonstrates acceptable knowledge of Adobe Photoshop.</p>
        </td>
        <td>
          <p>Splash Screens are designed to a high professional standard and meets all of the design specs.</p>
          <p>Student demonstrates skilled knowledge of Adobe Photoshop.</p>
        </td>
        <td>/ 3</td>
      </tr>
      <tr>
        <th scope="row">Part 3: SVG Loader</th>
        <td>
          <p>SVG Loader design is not animated.</p>
          <p>SVG code is improperly written, organized, and with many bugs or is incomplete.</p>
        </td>
        <td>
          <p>SVG Loader design and animation is of low quality.</p>
          <p>SVG code is poorly written, organized, and with many bugs.</p>
        </td>
        <td>
          <p>SVG Loader design and animation is of good quality.</p>
          <p>SVG code is properly written, organized, and with few of bugs.</p>
        </td>
        <td>
          <p>SVG Loader design and animation is of high quality.</p>
          <p>SVG code is well written, organized, and free of bugs.</p>
        </td>
        <td>/ 3</td>
      </tr>
      <tr>
        <th scope="row">Part 4: UI Prototype</th>
        <td>
          <p>UI Prototype is designed to an unacceptable professional standard, meets little to none of the design specs, and/or is not interactive .</p>
          <p>Student demonstrates minimal knowledge of Adobe Xd.</p>
        </td>
        <td>
          <p>UI Prototype is designed to a low professional standard, meets few of the design specs and is not interactive.</p>
          <p>Student demonstrates basic knowledge of Adobe Xd.</p>
        </td>
        <td>
          <p>UI Prototype is designed to an acceptable professional standard, meets most of the design specs, and is interactive.</p>
          <p>Student demonstrates acceptable knowledge of Adobe Xd.</p>
        </td>
        <td>
          <p>UI Prototype is designed to a high professional standard, meets all of the design specs and is interactive.</p>
          <p>Student demonstrates skilled knowledge of Adobe Xd.</p>
        </td>
        <td>/ 3</td>
      </tr>
      <tr>
        <th scope="row">Work Revisions and File Organization</th>
        <td>
          <p>Did not make updates based on peer and professor reviews.</p>
          <p>No layers, artboards, or files are properly labeled and was submitted incorrectly with many errors.</p>          
          <p>No Icon and Splash Screen sizes were exported and organized properly.</p>
        </td>
        <td>
          <p>Reviewed peer and professor feedback and made few updates.</p>
          <p>Some layers, artboards, and files are properly labeled and submitted properly with many errors.</p>          
          <p>Few Icon and Splash Screen sizes were exported and organized properly.</p>
        </td>
        <td>
          <p>Reviewed peer and professor feedback and made some updates based on feedback.</p>
          <p>Most layers, artboards, and files are properly labeled and submitted properly with few errors.</p>          
          <p>Most Icon and Splash Screen sizes were exported and organized properly.</p>
        </td>
        <td>
          <p>Reviewed peer and professor feedback and made clear improvements based on feedback.</p>
          <p>All layers, artboards, and files are properly labeled and submitted properly with no errors.</p>          
          <p>All Icon and Splash Screen sizes were exported and organized properly.</p>
        </td>
        <td>/ 3</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="row" colspan="5"><strong>Total</strong></th>
        <td><strong>/ 15</strong></td>
      </tr>
    </tfoot>
  </table>
</div>