<footer role="contentinfo" id="footer" class="footer">
  <div class="container-grid pad-t-2 pad-b-2">
    <div class="xs-span-12 l-span-4 l-order-last branding">
      <a class="logo" href="{{site.baseurl}}/" title="Educate - Web Design &amp; Development">
        Graphic Technologies
      </a>
      <ul role="img" class="icon-list">
        <li>
          <a href="https://github.com/Graphic-Technologies/w2021">
            <i role="img" class="icon i-3-4">
              <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#github"></use></svg>
            </i>
            <span role="img" class="icon-label screen-reader-text">Github</span>
          </a>
        </li>
      </ul>
      <a class="section-select-launcher inline-block pad-t-1-2" href="#section-selector">Select Section</a>
    </div>
    <div class="xs-span-12 l-span-8 legal">
      <p><small>All code for this website licensed under the <a href="https://github.com/Graphic-Technologies/w2020/blob/master/LICENSE">MIT License</a>.</small></p>
      <p><small>All tutorial code licensed under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 Public Domain Dedication</a>.</small></p>
      <p><small><a href="{{site.baseurl}}/course-policies">Course Policies</a></small></p>
    </div>
  </div>
  <!-- <div class="sub-footer pad-t pad-b gutter-2">
    <p>Teach us to teach you better. <a href="#">Submit your anonymous feedback</a>.</p>
  </div> -->
</footer>