<header class="masthead" role="banner">
  <div class="container">
    {% if page.url == '/' %}<h1 class="logo">{% else %}<div class="logo">{% endif %}
      <a href="{{site.baseurl}}/">
        G<span>raphic </span>Tech<span>nologies</span>
      </a>
    {% if page.url == '/' %}</h1>{% else %}</div>{% endif %}
    {% include snippets/nav-toggle.liquid %}
    {% include snippets/nav.liquid %}
  </div>
</header>