<header class="masthead">
  <div class="container">
    {% if page.url == '/' %}<h1 class="logo">{% else %}<div class="logo">{% endif %}
      <a href="/">
        Graphic Technologies
      </a>
    {% if page.url == '/' %}</h1>{% else %}</div>{% endif %}
    {% include snippets/nav-toggle.liquid %}
    {% include snippets/nav.liquid %}
  </div>
</header>