<div class="section-selector--wrap island">
  <div id="section-selector" class="section-selector">
    <div class="container-grid gutter-0">
      <h2>Which section are you in?</h2>
      <div class="m-span-6 section-1">
        <h3 class="push-1-2">Section 300</h3>
        <p class="bold push-0">Class time:</p>
        <p>Monday 8am - 10am</p>
        <button data-section="section-1" class="btn--gradient">Choose Section 300</button>
      </div>
      <div class="m-span-6 section-2">
        <h3 class="push-1-2">Section 310</h3>
        <p class="bold push-0">Class time:</p>
        <p>Tuesday 10am - 12pm</p>
        <button data-section="section-2" class="btn--gradient">Choose Section 310</button>
      </div>
    </div>
  </div>
</div>