.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border-radius: var(--radius);
  padding: 1.5rem;
  box-shadow: var(--shadow);
  background-color: #fff;
  text-decoration: none;
  color: var(--color-primary);
  &__preTitle {
    position: relative;
    z-index: 1;
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    @include typeScaleH5;
    span {
      background-color: #fff;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -ms-background-clip: text;
      -o-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      -ms-text-fill-color: transparent;
      -o-text-fill-color: transparent;
      text-fill-color: transparent;
    }
    &::before {
      content: ' ';
      position: absolute;
      width: calc(100% + 1.75rem);
      height: 100%;
      background: var(--gradient);
      top: 50%;
      transform: translateY(-50%);
      left: -1.5rem;
      z-index: -1;
    }
    + .card__title::before {
      display: none;
    }
  }
  &__title {
    @include typeScaleH4;
    font-weight: bold;
    margin-bottom: .75rem;
    span {
      position: relative;
      display: inline-block;
      z-index: 1;
      &::before {
        content: ' ';
        position: absolute;
        width: 4.5rem;
        height: 75%;
        background: var(--gradient);
        top: 50%;
        transform: translateY(-50%);
        left: -1.5rem;
        z-index: -1;
      }
    }
    &::after {
      content: ' ';
      display: block;
    }
  }
  &__text {
    flex-grow: 1;
  }
  @include hov {
    box-shadow: var(--shadow-large);
    color: var(--color-primary);
    transform: scale(1.025);
  }
}

.card--week {
  .icon-list {
    .icon-wrap {
      &:not(:last-child) {
        margin-right: 3rem;
      }
      .icon {
        color: var(--color-secondary);
      }
    }
  }
}