.footer {
  color: #fafafa;
  background-color: var(--color-primary-dark);
  a {
    color: var(--color-secondary);
    @include hov {
      color: var(--color-accent-1);
    }
  }
  .logo {
    @include gradientText;
    @include typeScaleH4;
    font-weight: bold;
    display: block;
    margin-bottom: 1.5rem;
    text-decoration: none;
    @include bgGradientHov;
    @media only screen and (min-width: 60em) {
      text-align: right;
    }
  }
  .icon-list {
    @media only screen and (min-width: 60em) {
      justify-content: flex-end;
    }
  }
  .sub-footer {
    background-color: var(--color-primary);
    text-align: center;
    p {
      margin: 0;
    }
  }
}