.masthead {
  background-color: #fafafa;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // padding: .75rem 0;
  z-index: 1000;
  transition: background-color var(--transition);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      margin: 0;
      position: relative;
      z-index: 5;
      line-height: 1.5;
      @include typeScaleH3;
      font-weight: bold;
      a {
        @include gradientText;
        text-decoration: none;
        @include bgGradientHov;
        @media only screen and (max-width: 37.999em) {
          span {
            display: none;
          }
        }
        @media only screen and (min-width: 60em) and (max-width: 65em) {
          span {
            display: none;
          }
        }
      }
    }
    .nav-toggle {
      position: relative;
      z-index: 5;
      margin-right: -1.5rem;
    }
    .nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      pointer-events: none;
      transition:
        opacity .2s;
      &.open {
        opacity: .95;
        pointer-events: all;
      }
      ul {
        display: grid;
        gap: 1.5rem;
      }
      a {
        @include typeScaleH2;
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        position: relative;
        color: var(--color-primary);
        &::after {
          content: attr(title);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          @include gradientText;
          transition:
            width var(--transition),
            opacity var(--transition);
        }
        @include hov {
          color: #fff;
          transform: translateX(1rem);
          &::after {
            // width: 100%;
            opacity: 1;
          }
        }
        &.out {
          @media only screen and (max-width: 59.999em) {
            transform: translateX(5rem);
            opacity: 0;
          }
        }
      }
    }
  }
  @media only screen and (min-width: 60em) {
    padding: .75rem 0;
    .container {
      align-items: baseline;
      .nav-toggle {
        display: none;
      }
      .nav {
        position: static;
        width: auto;
        height: auto;
        opacity: 1;
        pointer-events: all;
        background-color: transparent;
        ul {
          display: flex;
          gap: 0;
          li:not(:last-child) {
            margin-right: 1.5rem;
          }
        }
        a {
          @include typeScaleH5;
          opacity: 1;
          transform: none;
          &::after {
            content: ' ';
            width: 0;
            height: .125rem;
            opacity: 1;
            top: auto;
            bottom: 0;
            -webkit-background-clip: border-box;
            -moz-background-clip: border-box;
            -ms-background-clip: border-box;
            -o-background-clip: border-box;
            background-clip: border-box;
          }
          &[aria-current="page"] {
            &::after {
              width: 3rem;
            }

          }
          @include hov {
            transform: none;
            color: var(--color-primary);
            &::after {
              width: 3rem;
            }
          }
        }
      }
    }
  }
}
.has-hero .masthead:not(.sticky) {
  background-color: transparent;
  .nav:not(.open) a {
    color: #fff;
    @include hov {
      color: #fff;
    }
  }
  .nav-toggle:not(.open) {
    .tog {
      background-color: #fff;
    }
  }
}