.hero {
  height: clamp(30rem, 80vh, 60rem);
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  span {
    display: block;
    @include typeScaleH4;
    font-weight: normal;
    color: var(--color-secondary);
    margin-bottom: -.75em;
  }
  &__headline {
    @include typeScaleH1;
    @include gradientText;
    line-height: 1.3;
    @media only screen and (min-width: 38em) {
      width: max-content;
    }
    &::after {
      display: none;
    }
  }
  &__byline {
    color: #fff;
    @include typeScaleH5;
  }
}