.section-selector {
  width: 100%;
  max-width: 45rem;
  padding: 3rem;
  background-color: #fff;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  transform: translateY(5rem);
  opacity: 0;
  transition:
    opacity var(--transition),
    transform var(--transition);
  &--wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fffe;
    z-index: 100000000;
    opacity: 0;
    pointer-events: none;
    display: none;
    transition:
      opacity var(--transition);
    &.active {
      display: flex;
      pointer-events: all;
    }
    &.transitioned {
      opacity: 1;
      .section-selector {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  h2 {
    @include typeScaleH3;
  }
  h3 {
    @include typeScaleH4;
  }
}