.sidebar {
  border-radius: var(--radius);
  background-color: #fff;
  box-shadow: var(--shadow);
  padding: 2.25rem 1.5rem 1.5rem;
  overflow: hidden;
  position: relative;
  &::before {
    content: ' ';
    width: 100%;
    height: .75rem;
    top: 0;
    left: 0;
    position: absolute;
    background: var(--gradient);
  }
  &__title {
    @include typeScaleH4;
    margin-bottom: 1.5rem;
    &::after {
      display: none;
    }
  }
  &__list {
    @include listClear;
    padding: 0;
    margin: 0;
    li:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    &__item {
      text-decoration: none;
      position: relative;
      &::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + .75rem);
        height: calc(100% + .75rem);
        transform: translate(-50%, -50%);
        background-color: #f2f2f2;
        border-radius: .5rem;
        opacity: 0;
        transition:
          opacity var(--transition);
      }
      .icon {
        color: var(--color-secondary);
        position: relative;
      }
      @include hov {
        .sidebar__list__title {
          color: var(--color-accent-3);
        }
        .icon {
          color: var(--color-accent-3);
        }
        &::before {
          opacity: 1;
        }
      }
    }
    &__title {
      @include typeScaleH5;
      display: block;
      line-height: 1.2;
      color: var(--color-primary);
      position: relative;
      transition:
        color var(--transition);
    }
    &__secondary {
      // @include typeScaleSmall;
      display: block;
      line-height: 1.2;
      position: relative;
    }
    &--grading {
      display: grid;
      grid-template-columns: 1fr auto;
      row-gap: .75rem;
      margin: 0;
      .sidebar__list__title {
        font-weight: normal;
        &--total {
          border-top: 1px solid var(--color-secondary);
          padding-top: .75rem;
        }
      }
      .sidebar__list__value {
        &--total {
          border-top: 1px solid var(--color-secondary);
          padding-top: .75rem;
        }
      }
    }
    &__value {
      text-align: center;
      font-weight: bold;
      @include typeScaleH5;
      margin: 0;
      &--total {
        @extend .sidebar__list__value;
      }
    }
  }
  &.submission {
    @media only screen and (min-width: 38em) and (max-width: 59.999em) {
      grid-column: span 2;
    }
  }
}
