@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import 'utilities/utilities';
@import 'modules/modules';
@import 'snippets/snippets';
@import 'patterns/patterns';
@import 'layouts/layouts';
@import 'common';