.screen-reader-text {
  position: absolute!important;
  top: 0;
  left: 0;
  font-size: 1rem;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-links {
  &__link {
    position: absolute;
    top: -100rem;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--color-secondary);
    color: var(--color-primary-dark);
    display: block;
    z-index: 100000;
    @include typeScaleH4;
    text-align: center;
    text-decoration: none;
    transition: none;
    &:focus {
      top: 0;
      color: var(--color-primary-dark);
    }
  }
}


*:focus {
  outline: 2px solid var(--color-primary-dark);
  outline-offset: 2px;
}

.has-hero {
  .skip-links__link {
    
  }
  .masthead *:focus {
    outline: 2px solid var(--color-secondary);
  }
}

.footer *:focus {
  outline: 2px solid var(--color-secondary);
}

.to-top {
  position: fixed;
  bottom: 0;
  right: 3rem;
  padding: .75rem 1.5rem;
  background-color: var(--color-accent-3);
  color: var(--color-primary);
  border-radius: var(--radius) var(--radius) 0 0;
  opacity: .5;
  transform: translateY(100%);
  @include hov {
    transform: translateY(0);
    opacity: 1;
    color: var(--color-primary);
  }
  &.visible {
    transform: translateY(0);
  }
}