$colors: (
  primary: dark,
  primary-dark: dark,
  secondary: light,
  secondary-dark: dark,
  accent-1: light,
  accent-1-dark: dark,
  accent-2: light,
  accent-2-dark: dark,
  accent-3: light,
  accent-3-dark: dark
);

$classes: (
  'text': color,
  'bg': background-color
);

@each $cName, $cValue in $classes {
  @each $color, $value in $colors {

    .#{$cName}-#{$color} {
      #{$cValue}: var(--color-#{$color});
      @if ($cName == 'bg' and $value == 'dark') {
        color: #fff;
      }
    }

  }
}