.container {
  @include container;
}

.container-grid {
  @include containerGrid;
  &.top {
    align-items: flex-start;
  }
  &.center {
    align-items: center;
  }
}

.content {
  &-wrap {
    @media only screen and (min-width: 60em) {
      order: -1;
    }
  }
  &-sidebars {
    display: grid;
    gap: 1.5rem;
    margin-bottom: 3rem;
    @media only screen and (min-width: 38em) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (min-width: 60em) {
      grid-template-columns: 1fr;
      position: sticky;
      top: 6rem;
      padding-bottom: 6rem;
      margin-bottom: 0;
    }
  }
  *:last-child {
    margin-bottom: 0;
  }
}



/* - - - - - - - - - - Displays - - - - - - - - - - */

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}