@mixin bulletClear {
  list-style-type: none;
  > li {
    padding: 0;
    &::before {
      display: none;
    }
  }
  > li:not(.icon-wrap) {
    display: block;
  }
}

@mixin listClear {
  padding: 0;
  margin: 0;
  @include bulletClear;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul > li {
  padding-left: 3rem;
  &::before {
    display: inline-block;
    margin-top: .45rem;
    margin-right: 1.25rem;
    margin-left: -1.75rem;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    content: '';
    text-align: right;
    background-color: var(--color-secondary);
    font-weight: bold;
  }
  li::before {
    background-color: var(--color-accent-1);
    border-radius: .125rem;
  }
}

ol {
  counter-reset: ol-simple-numbers;
  list-style-type: none;
  padding-left: 0;
}

ol > li {
  padding-left: 3rem;
  &::before {
    display: inline-block;
    margin-top: .45rem;
    margin-right: 1.25rem;
    margin-left: -1.75rem;
    width: 1rem;
    counter-increment: ol-simple-numbers;
    content: counter(ol-simple-numbers) ".";
    text-align: right;
    color: var(--color-secondary);
    font-weight: bold;
  }
  li::before {
    color: var(--color-accent-1);
  }
}

.bullet-clear {
  @include bulletClear;
}

.list-clear {
  @include listClear;
}

.list-cards {
  li {
    display: flex;
  }
}

dl {
  dt {
    font-weight: bold;
    // @include typeScaleH5;
    color: var(--color-accent-3-dark);
  }
}