.showcase {
  .container-grid {
    row-gap: 0;
  }
  h2 {
    margin-bottom: 0.75rem;
    div {
      display: flex;
      align-items: center;
      a {
        margin-left: 0.75rem;
      }
    }
    span {
      @include typeScaleH5;
    }
  }
  figure {
    margin: 0;
  }
  img {
    max-width: 100%;
  }
  figcaption {
    padding: 0.5rem 0 0;
    margin-top: 0;
    background-color: transparent;
    color: #000;
    border-radius: 0;
  }
  &__item {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
    position: relative;
    &:nth-of-type(even) {
      &::before {
        content: " ";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        top: 0;
        width: 100vw;
        height: 100%;
        background-color: #f2f2f2;
      }
    }
  }
  &__desc {
    margin-bottom: 0.75rem;
  }
  &__splash {
  }
  .img-med,
  .img-sm {
    display: none;
  }
  @media only screen and (min-width: 38em) {
    &__info {
      grid-column: 1 / span 6;
      grid-row: 1 / 2;
    }
    &__splash {
      grid-column: 7 / span 6;
      grid-row: 1 / 3;
      align-self: flex-end;
    }
    &__icon {
      grid-column: 1 / span 6;
      grid-row: 2 / 3;
      align-self: flex-end;
    }
  }
  @media only screen and (min-width: 60em) {
    &__info {
      grid-column: 1 / span 5;
    }
    &__splash {
      grid-column: 9 / span 4;
    }
    &__icon {
      grid-column: 1 / span 5;
      &--wrap {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.75rem;
        justify-items: flex-start;
        align-items: flex-end;
      }
      img {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
      }
      .img-sm {
        display: inline-block;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        width: 50%;
        margin: 0;
      }
      .img-med {
        display: inline-block;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
    }
  }
  @media only screen and (min-width: 90em) {
    &__item {
      // grid-column: span 6;
    }
  }
}
