.deliverable {
  .content-wrap .heading-full-shift h2:first-child {
    margin-top: -6rem;
  }
  #examples + p {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75rem;
    align-items: stretch;
    img {
      object-fit: cover;
    }
  }
  .as3-student-examples.container-grid {
    padding: 0;
    img {
      box-shadow: none;
    }
  }
}
