.deliverable {
  h2:first-child {
    margin-top: -6rem;
  }
  #examples + p {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .75rem;
    align-items: stretch;
    img {
      object-fit: cover;
    }
  }
}