<div class="as3-student-examples container-grid center">
  <img class="xs-span-6 m-span-4 l-span-3" src="{{site.baseurl}}/images/assignments/as3/p3-1.svg" alt="Part Three Example 1">
  <img class="xs-span-6 m-span-4 l-span-3" src="{{site.baseurl}}/images/assignments/as3/p3-2.svg" alt="Part Three Example 2">
  <img class="xs-span-6 m-span-4 l-span-3" src="{{site.baseurl}}/images/assignments/as3/p3-3.svg" alt="Part Three Example 3">
  <img class="xs-span-6 m-span-4 l-span-3" src="{{site.baseurl}}/images/assignments/as3/p3-5.svg" alt="Part Three Example 4">
</div>