<div class="as3-student-examples container-grid center">
  <img class="xs-span-6 m-span-4 l-span-3" src="{{site.baseurl}}/images/assignments/as3/p2-1.png" alt="Part Two Example 1">
  <img class="xs-span-6 m-span-4 l-span-3" src="{{site.baseurl}}/images/assignments/as3/p2-2.png" alt="Part Two Example 2">
  <img class="xs-span-6 m-span-4 l-span-3" src="{{site.baseurl}}/images/assignments/as3/p2-3.png" alt="Part Two Example 3">
  <img class="xs-span-6 m-span-4 l-span-3" src="{{site.baseurl}}/images/assignments/as3/p2-4.png" alt="Part Two Example 4">
</div>