<a class="nav-toggle" href="{{ include.navRef | default: '#nav'}}" aria-label="{{ include.label | default: 'Click to open main navigation.'}}">
  <span class="tog top"></span>
  <span class="tog middle"></span>
  <span class="tog bottom"></span>
</a>