<ul class="skip-links list-clear">
  <li>
    <a class="skip-links__link" href="#nav">Skip to navigation</a>
  </li>
  <li>
    <a class="skip-links__link" href="#main">Skip to main content</a>
  </li>
</ul>