<a href="#main" class="to-top" aria-label="Go to top of page">
  <i class="icon-1-1-2">
    <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#up-indicator" /></svg>
  </i>
  <span class="screen-reader-text">To Top</span>
</a>